        body{
            font-family: Arial, sans-serif;
        }

        #title{
            text-align:center;
        }
        .container {
            
            width:350px;
            margin-bottom: 100px;
            padding: 20px;
            text-align:center;
            align-items: center;
            float:left;
            background-color: rgb(201, 204, 206);
            border-radius: 20px;
        }

        #event-list{
            list-style-type: none;
            padding:0;
            width:500px;
            margin-left:150px;
            margin-right:150px;
            
            
        }
        ul{
            list-style-type:none;
        }
        

        .event {
            
            margin: 10px 0;
            padding-right: 120px;
        
        }

        .container2 {
            /* max-width: 800px; */
            margin: 0 auto; 
            text-align:right;
            float:right;
            padding-bottom:500px;
            background-color: rgb(201, 204, 206);
            border-radius: 20px;
            width:400px;
        }

        .heading {
            padding-left: 40px;
            text-align:center;
        }


        #yourslist{
            width:50%;
            /* margin-left:900px; */
            float :right;
            float:top;
            margin:auto;
            padding-right:100px;
            

        }
        #event-list{
            width:50%;
        }
        #addevent{
         margin-top:500px ;
        }
        #eventheading{
         padding-top:5px;   
        }
        #filter{
            margin:auto;
        }
