
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#62a7f1,#0369d5,#007BFF);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    
}

h1, h2 {
    margin: 10;
    padding: 10;
}

.input_container {
    margin: 10px 10px;
    
}


input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    width: 200px;
    opacity: 1;
}

#year,#branch{
    width: 220px;
    padding: 10px;
    margin: 10px;
}
button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 15px;
}

button:hover{
    background-color: #0727b6;
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
}

.input_container{
    margin: 10px;

}

select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}